.img{
  max-width: 90%;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.img1container{
  position: relative;
  z-index: 20;
}

.img2container{
  position: relative;
  top: -20px;
}

.img3container{
  position: relative;
  top: -35px;
  z-index: 20;
}
